# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environments
.env
.venv
env/
venv/

# Testing
htmlcov/
.tox/
.pytest_cache/
.coverage

# IDEs
.vscode/
.idea/

# OS Specific
.DS_Store
Thumbs.db
